MINIO_HOST=""
MINIO_PORT=""
MINIO_ACCESS_KEY=""
MINIO_SECRET_KEY=""
MINIO_BUCKET_NAME=""

MONGO_HOST=""
MONGO_PORT=""
MONGO_USERNAME=""
MONGO_PASSWORD=""
MONGO_DATABASE_NAME=""
MONGO_COLLECTION_NAME=""

DHUS_HOST=""
DHUS_USERNAME=""
DHUS_PASSWORD=""

IP=""
ERROR_FILE_PATH=""
SENDER_EMAIL=""
SENDER_EMAIL_PASSWORD=""
RECEIVER_EMAIL=""
GOOGLE_APPLICATION_CREDENTIALS=""
GOOGLE_CLOUD_BUCKET_NAME=""