DHUS_USERNAME=""
DHUS_PASSWORD=""
DHUS_HOST=""
GOOGLE_APPLICATION_CREDENTIALS=""
GOOGLE_CLOUD_BUCKET_NAME=""

MINIO_HOST=""
MINIO_PORT=""
MINIO_ACCESS_KEY=""
MINIO_SECRET_KEY=""
MINIO_BUCKET_NAME=""
MINIO_COMPOSITE_BUCKET_NAME=""

MONGO_HOST=""
MONGO_PORT=""
MONGO_USERNAME=""
MONGO_PASSWORD=""
MONGO_DATABASE_NAME=""
MONGO_COLLECTION_NAME=""
MONGO_COMPOSITE_COLLECTION_NAME=""

TMP_DIR=""

# Landcoverpy
MONGO_DB=""
MONGO_PRODUCTS_COLLECTION=""
MONGO_COMPOSITES_COLLECTION=""

MINIO_BUCKET_NAME_PRODUCTS=""
MINIO_BUCKET_NAME_COMPOSITES=""

MAX_PRODUCTS_COMPOSITE=""
