# Compiled Python bytecode
*.py[cod]
__pycache__

# Log files
*.log
logs/

# Enviroment
*.env

# Google Cloud User Credentials
gcloud-user.json

# Execution time logs
execution_time*

tmp/

ds_download.egg-info/
dist/
build/