# Compiled Python bytecode
*.py[cod]
__pycache__/

# Log files
*.log
nohup.out
logs/

# Environment variables
*.env

# Google Cloud User Credentials
gcloud-user.json

# Execution time logs
execution_time*

# Temporary files and directories
tmp/
temp/
*.tmp

# MinIO, Mongo, and data processing-related directories
data/
ds_download.egg-info/
dist/
build/

# Ignore any file backups or copies
*.copy
*.bak
*.orig

# Exclude virtual environment folders
venv/
.venv/
.env/

# Jupyter Notebook checkpoints (if applicable)
.ipynb_checkpoints/

# Custom
out/

*.txt
*.geojson
*.tif